[Unit]
Description=Paperless consumer
Requires=redis.service

[Service]
User=sudharsans
#Group=paperless
WorkingDirectory=/home/sudharsans/projects/configWithDocker/src
ExecStart=/home/sudharsans/projects/configWithDocker/.venv/bin/python manage.py document_consumer

[Install]
WantedBy=multi-user.target
