[Unit]
Description=Paperless Celery Workers
Requires=redis.service

[Service]
User=sudharsans
#Group=paperless
WorkingDirectory=/home/sudharsans/projects/configWithDocker/src
ExecStart=/home/sudharsans/projects/configWithDocker/.venv/bin/celery --app paperless worker --loglevel INFO

[Install]
WantedBy=multi-user.target
